<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>save.html</h2>

    <form action="/member/save" method="post"  enctype="multipart/form-data" >
        이메일:<input type="text" name="memberEmail" id="memberEmail" placeholder="이메일을 입력하세요"  onblur="EmailDuplicate()"><br />
        <span id="Email-dup-result"></span><br />
       비밀번호:<input type="text" name="memberPassword" id="memberPassword" placeholder="비밀번호를 입력하세요"><br />
        <div id="pwCheck"></div><br />
       이름:<input type="text" name="memberName" placeholder="이름을 입력하세요"><br />
        전화번호:<input type="text" name="memberMobile" id="memberMobile" placeholder="전화번호 입력하세요"><br />
        <div id="MobileCheck"></div><br />
        프로필:<input type="file" name="memberFile" ><br />
        <input type="submit" value="회원가입">
    </form>
</body>
<script th:inline="javascript">
    const EmailDuplicate = () => {
        const  Email=document.getElementById("memberEmail").value;
        const  checkResult=document.getElementById("Email-dup-result");
        $.ajax({
           type:"post",
           url:"/member/EmailCheck",
           dataType: "text",
            data:{
               "memberEmail":Email
            },
            success:function (result){
               if(result== "ok"){
                   checkResult.innerHTML="사용가능합니다";
                   checkResult.style.color="green";
               }else {
                   checkResult.innerHTML="중복된 아이디 입니다";
                   checkResult.style.color="red";
               }
            },
            error:function (){
               alert("실패")
            }
        });
    }
    const pwJ= /^[A-Za-z0-9]{4,12}$/;
        $('#memberPassword').blur(function (){
            if(pwJ.test($('#memberPassword').val())){
                console.log("true");
                $('#pwCheck').text(" V ");
                $('#pwCheck').css('color','green');
            }else {
                console.log("false");
                $('#pwCheck').text("숫자,문자로만 4~12 자리입력");
                $('#pwCheck').css('color','red');
            }
        })

    const mobileJ = /^01([0|1|6|7|8|9]?)?([0-9]{3,4})?([0-9]{4})$/;
    $('#memberMobile').blur(function (){
        if(mobileJ.test($('#memberMobile').val())){
            console.log("true");
            $('#MobileCheck').text(" V ");
            $('#MobileCheck').css('color','green');
        }else {
            console.log("false");
            $('#MobileCheck').text("전화번호를 다시 입력해주세요");
            $('#MobileCheck').css('color','red');
        }
    })





</script>
</html>