<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <meta charset="UTF-8">
    <style>
        #header{
            background-color: ivory;
        }
    </style>
    <div id="header">
            header
    <div>
        <li><a href="/">돌아가기</a></li>
    </div>

     <div th:if="${session.loginEmail}">
         <a href="/member/myPage">마이페이지로이동</a>
         <a href="/member/logout">로그아웃</a> &nbsp;
         <div th:if="${session.loginEmail.toString().equals('admin')}">
             <a href="/member/admin">관리자모드</a>
         </div>
     </div>

              </div>

</th:block>
</html>