<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<thead>
<table>
    <h2>detail</h2>
<tr>
    <td>글번호</td>
    <td>글제목</td>
    <td>작성자</td>
    <td>내용</td>
    <td>작성시간</td>
    <td>조회수</td>
    <td>첨부파일</td>

</tr>
</thead>
    <tbody>
        <tr>
            <td th:text="${board.id}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${board.boardContents}"></td>
            <td th:text="${#temporals.format(board.boardCreatedDate,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.boardHits}"></td>
            <td><img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt=""></td>
          <div th:if="${session.loginEmail} == ${board.boardWriter}">
           <td>  <button class="btn btn-danger" onclick="deleteBt()" >삭제</button></td>
             <td> <button class="btn btn-primary" onclick="updateBt()">업데이트</button> </td>
            </div>

            <div th:if="${session.loginEmail}">
            <div th:if="${session.loginEmail.toString().equals('admin')}">
               <td>  <button class="btn btn-danger"  onclick="deleteBt()" >관리자용삭제</button></td>
            </div>
            </div>
        </tr>
    </tbody>
</table>


<div class="container mt-5">
    <div id="comment-write" class="input-group mb-3">
        <div class="form-floating">
            <input type="text" id="commentWriter" class="form-control" th:value="${session.loginEmail}"  placeholder="작성자" readonly>
            <label for="commentWriter">작성자</label>
        </div>
        <button id="comment-write-btn" class="btn btn-primary">작성</button>
    </div>

</div>
<div id="comment-List">
    <table class="table">
        <tr>
            <td>댓글번호</td>
            <td>작성자</td>
            <td>작성일자</td>
        </tr>
        <tr th:each="comment:${commentList}">
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.commentWriter}"></td>
            <td th:text="*{#temporals.format(comment.commentCreatedDate,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>

</div>
</body>
<script th:inline="javascript">
    const deleteBt = () => {
        const id=[[${board.id}]]
        location.href="/board/delete/"+id;
    }
    const updateBt = () => {
        const id=[[${board.id}]]
      location.href="/board/update/"+id;
    }

        $("#comment-write-btn").click(function (){
            const cWriter = document.getElementById("commentWriter").value;
            const boardId = [[${board.id}]];

            $.ajax({
                type:'post',
                url:"/comment/save",
                data:{
                    "commentWriter":cWriter,
                    "boardId":boardId,

                },
                dataType:"json",
                success:function (result) {
                    console.log(result);

                }
            });
    });

</script>
</html>